* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  overflow-y: auto;
  overflow-y: overlay;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.wrapper {
  display: grid;
}

.navigation {
  justify-self: end;
  align-items: center;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: flex;
  height: 40px;
  right: -256px;
  transition: 500ms;
}

.navigation.open {
    right: 0px;
}

.hamburger-menu {
  height: 40px;
  width: 42px;
  position: relative;
  left: 0px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
}

.hamburger {
  margin: 0 auto;
  position: relative;
  padding: 7px 5px 3px;
}

.hamburger span {
  display: block;
  width: 24px;
  height: 3px;
  background-color: #999;
  margin: 0 auto;
  position: relative;
  border-radius: 3px;
  transition: top 300ms 600ms, transform 150ms 300ms, opacity 150ms 300ms;
}

.hamburger span:nth-child(1) {
  top: 5px;
  transform: rotate(0);
}

.navigation.open .hamburger span:nth-child(1) {
  transform: rotate(45deg);
  top: 13px;
  transition: top 150ms 300ms, transform 300ms 600ms;
}

.hamburger span:nth-child(2) {
  top: 10px;
}

.navigation.open .hamburger span:nth-child(2) {
  opacity: 0;
  transition: opacity 150ms 300ms;
}

.hamburger span:nth-child(3) {
  top: 15px;
  transform: rotate(0);
}

.navigation.open .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  top: 7px;
  transition: top 150ms 300ms, transform 300ms 600ms;
}

.nav {
  justify-content: flex-end;
  padding-right: 5vw;
  background-color: #fff;
}

.single .nav {
  background-color: #fff;
}

a.nav-link {
  color: #999;
  padding: .5rem 1rem;
}

li.nav-item:last-child > a {
  padding-right: 0;
}

a.nav-link:hover {
  color: #333;
}

.greeting {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.about-container {
  width: 100%;
  height: calc(100vh - 40px);
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  padding: 50px;
  position: relative;
}

.about-container::after {
  content: "";
  position: absolute;
  display: block;
  background: url(../images/angle-down.svg);
  width: 42px;
  height: 42px;
  left: calc(50% - (35px / 2));
  bottom: 10px;
  animation: 2s infinite arrow-bounce;
}

@keyframes arrow-bounce {
  0% {
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.about {
  padding-left: 0;
  align-self: center;
}

.lead {
  font-size: 1.5em;
  font-weight: 200;
}

.clear-fix {
  clear: both;
}

a.work h2 {
  font-size: 1.5em;
  font-weight: 400;
  padding: 15px 25px 10px;
  text-transform: uppercase;
}

a.work h2:hover > span {
  opacity: 1;
}

a.work > h2 > span {
  opacity: 0;
  color: dodgerblue;
  font-weight: 500;
}

.work-container {
  display: grid;
  grid-template-columns: 1fr;
}

.project-item {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.card-image {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.view-project {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  z-index: 1;
  transition: 250ms;
  background-color: #fffd;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.5rem;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

.view-project:hover {
  opacity: 1;
  font-size: 1.2rem;
}

.contact-container {
  background-color: #333;
  height: 20vmin;
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 1.75rem;
}

.contact-container li {
  padding: 0.4rem;
}

.contact-container a {
  color: #04bf9d;
}

.contact-container a:hover {
  color: #fff;
}

/*       SINGLE PAGES        */
.single {
  padding-bottom: 8vmax;
}

.single .wrapper {
  margin: 0 4vw;
  color: #333;
  justify-items: center;
  grid-row-gap: 1rem;
}

.project-info-head {
  padding: 0 5vw;
  width: 100%;
}

.project-title {
  font-family: "Playfair Display", serif;
  margin-bottom: 0;
}

.project-info-meta-container {
  display: grid;
  grid-template-columns: 1fr 140px 115px;
  grid-template-rows: 1fr;
  grid-column-gap: 0.5rem;
  align-items: flex-end;
}

.project-short-info {
  font-size: 1.2em;
  font-family: "Source Sans Pro", sans-serif;
  padding-right: 75px;
  margin-bottom: 0.5rem;
}

a.project-button-link:nth-child(2) {
  margin-right: 0;
}

.project-button {
  padding: 0.4rem 0.6rem;
  border: 0px;
  border-radius: 0.25rem;
  background-color: #333;
  color: #fff;
  font-size: 0.9rem;
  transition: background-color 500ms;
}

.btn-img {
  width: 1rem;
  margin: 0 0.15rem 0.2rem 0;
}

.heroesunited .project-button:hover {
  background-color: #275c94;
}

.eventbite .project-button:hover {
  background-color: #fb5845;
}

.heroes-united-animation-examples {
  padding: 0vw 5vw 1vw;
  display: flex;
  flex-direction: row;
}

.hero-image {
  margin-top: -0.5rem;
}

.hero-image img {
  /* some may not like how this looks */
  border-top-right-radius: 0.25rem;
}

figure {
  margin: 0;
}

figure img {
  width: 82vw;
}

.project-info-writeup {
  padding: 0 5vw;
  width: 100%;
}

.project-info-titles {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

/*      VIDEOS      */
.damage-zones {
  width: 20vw;
  margin-right: 20px;
}

/* breaks above 1085 pixels*/

.damage-animations {
  width: calc(61.6vw - 20px);
  height: 20vw;
  object-fit: cover;
  object-position: right;
}

/*      MEDIA QUERIES       */
/* 
@media screen and (min-width: 500px) {
  .navigation {
    justify-self: end;
  }

  .about {
    padding-left: 50px;
  }

  
} */

@media screen and (min-width: 500px) {

    .navigation {
        right: 0;
    }
    
    .hamburger-menu {
      display: none;
    }

    .work-container {
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
      }
  }
