* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {

}

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    overflow-y: auto;
    overflow-y: overlay;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.wrapper {
    display: grid;
}

.navigation {
    justify-self: end;
}

.nav {
    justify-content: flex-end;
    padding-right: 5vw;
    background-color: #fff;
}

.single .nav {
    background-color: #fff;
}

a.nav-link {
    color: #999;
}

li.nav-item:last-child > a {
    padding-right: 0;
}

a.nav-link:hover {
    color: #333;
}

.about {
}

.about-container {
    width: 100%;
    height: calc(100vh - 40px);
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    padding: 50px;
    position: relative;
}

.about-container::after {
    content: '';
    position: absolute;
    display: block;
    background: url(../images/angle-down.svg);
    width: 42px;
    height: 42px;
    left: calc(50% - (35px/2));
    bottom: 10px;
    animation: 2s infinite arrow-bounce;
}

@keyframes arrow-bounce {
    0% {transform: translateY(-10px);}
    40% {transform: translateY(0)}
    100% {transform: translateY(-10px);}
}

.profile-image {
    width: 100%;
    padding-top: 100%;
    height: 0;
    background-color: #fff;
    border-radius: 50%;
    /* margin: 50px; */
    background: url(../images/profile.svg) no-repeat #fff;
    align-self: center;
}

.about {
    padding-left: 50px;
    align-self: center;
}

.greeting {
}

.lead {
    font-size: 1.5em;
    font-weight: 200;
}

.clear-fix {
    clear: both;
}

a.work {
    height: 100px;
}

a.work h2 {
    font-size: 1.5em;
    font-weight: 400;
    padding: 50px 25px 10px;
    text-transform: uppercase;
}

a.work h2:hover > span {
    opacity: 1;
}

a.work > h2 > span {
    opacity: 0;
    color: dodgerblue;
    font-weight: 500;
}

.card-container {
    display: flex;
    /* padding: 10px 50px; */
}

.card {
    width: calc(50% - 10px);
    margin: 15px;
    border-radius: 0.4em;
    border: 0;
}

.green-bg {
    background-image: linear-gradient(#0d7e69, #04BF9D);
}

.orange-bg {
    background-image: linear-gradient(#D97B73, #F2B279);
}

.blue-bg {
    background-image: linear-gradient(#1B7EA6, #66C4D9);
}

.work-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.project-item {
    position: relative;
    display: block;
}

.card-image {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.view-project {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    z-index: 1;
    transition: 250ms;
    background-color: #fffd;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    color: #000;
    font-weight: 700;
    text-transform: uppercase;
}

.view-project:hover {
    opacity: 1;
    font-size: 1.2rem;
}

.contact-container {
    background-color: #333;
    height: 20vmin;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 1.75rem;
}

.contact-container li {
    padding: 0.4rem;
}

.contact-container a {
    color: #04BF9D;
}

.contact-container a:hover {
    color: #fff;
}

/*       SINGLE PAGES        */
.single {
    padding-bottom: 8vmax;
}

.single .wrapper {
    margin: 0 4vw;
    color: #333;
    justify-items: center;
    grid-row-gap: 1rem;
}

.project-info-head {
    padding: 0 5vw;
    width: 100%;
}

.project-title {
    font-family: 'Playfair Display', serif;
    margin-bottom: 0;
}

.project-info-meta-container {
    display: grid;
    grid-template-columns: 1fr 140px 115px;
    grid-template-rows: 1fr;
    grid-column-gap: 0.5rem;
    align-items: flex-end;
}

.project-short-info {
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
    padding-right: 75px;
    margin-bottom: 0.5rem;
}

.project-button-link {
}

a.project-button-link:nth-child(2) {
    margin-right: 0;
}

.project-button {
    padding: 0.4rem 0.6rem;
    border: 0px;
    border-radius: .25rem;
    background-color: #333;
    color: #fff;
    font-size: 0.9rem;
    transition: background-color 500ms;
}

.btn-img {
    width: 1rem;
    margin: 0 0.15rem 0.2rem 0;
}

.heroesunited .project-button:hover {
    background-color: #275c94;
}

.eventbite .project-button:hover {
    background-color: #fb5845;
}

.heroes-united-animation-examples {
    padding: 0vw 5vw 1vw;
    display: flex;
    flex-direction: row;
}

.hero-image {
    margin-top: -0.5rem;
}

.hero-image img {
    /* some may not like how this looks */
    border-top-right-radius: 0.25rem;
}

figure {
    margin: 0;
}

figure img {
    width: 82vw;
}

.project-info-writeup {
    padding: 0 5vw;
    width: 100%;
}

.project-info-titles {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

/*      VIDEOS      */
.damage-zones {
    width: 20vw;
    margin-right: 20px;
}

/* breaks above 1085 pixels*/

.damage-animations {
    width: calc(61.6vw - 20px);
    height: 20vw;
    object-fit: cover;
    object-position: right;
}


/*      MEDIA QUERIES       */
@media screen and (max-width: 800px) {

    .about-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .profile-image {
        justify-self: center;
        width: 70%;
        padding-top: 70%;
    }

    .card-image {
        width: 100vw;
        float: left;
    }
}

@media screen and (max-width: 500px) {

    .profile-image {
        justify-self: center;
        width: 100%;
        padding-top: 100%;
    }

    .work-container {
        grid-template-columns: 1fr;
    }
}