* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {

}

body {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    overflow-y: auto;
    overflow-y: overlay;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

.wrapper {
    display: grid;
}

.navigation {

}

.nav {
    justify-content: flex-end;
    padding-right: 5vw;
    background-color: #eee;
}

.single .nav {
    background-color: #fff;
}

a.nav-link {
    color: #999;
}

a.nav-link:hover {
    color: #333;
}

.about {
}

.about-container {
    width: 100%;
    height: calc(100vh - 40px);
    background-color: #eee;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    padding: 50px;
}

.profile-image {
    width: 100%;
    padding-top: 100%;
    height: 0;
    background-color: #fff;
    border-radius: 50%;
    /* margin: 50px; */
    background: url(../images/profile.svg) no-repeat #fff;
    align-self: center;
}

.about {
    padding-left: 50px;
    align-self: center;
}

.greeting {
}

.lead {
    font-size: 1.5em;
    font-weight: 200;
}

.clear-fix {
    clear: both;
}

a.work {
    height: 14vh;
}

a.work h2 {
    font-size: 2.5em;
    font-weight: 400;
    padding: 25px 25px 10px;
}

.card-container {
    display: flex;
    /* padding: 10px 50px; */
}

.card {
    width: calc(50% - 10px);
    margin: 15px;
    border-radius: 0.4em;
    border: 0;
}

.green-bg {
    background-image: linear-gradient(#0d7e69, #04BF9D);
}

.orange-bg {
    background-image: linear-gradient(#D97B73, #F2B279);
}

.blue-bg {
    background-image: linear-gradient(#1B7EA6, #66C4D9);
}

.work-container {
}

.card-image {
    width: 50vw;
    float: left;
}

.card-image:hover {
    /* top: 0vw; */
}

a.portfolio-links {
    position: relative;
}

a.portfolio-links img {
    opacity: 1;
}

a.portfolio-links img:hover {
    opacity: 0.85;
}

.contact-container {
    background-color: #333;
    height: 20vmin;
    display: grid;
    justify-content: center;
    align-content: center;
    font-size: 1.75rem;
}

.contact-container li {
    padding: 0.4rem;
}

.contact-container a {
    color: #04BF9D;
}

.contact-container a:hover {
    color: #fff;
}

/*       SINGLE PAGES        */
.single .wrapper {
    margin: 0 4vw;
}

.project-info-short {
    /* padding-left: 4vw; */
}

.project-title {
    font-family: 'Playfair Display', serif;
    margin-bottom: 0;
}

.project-short-info {
    color: #999;
    font-size: 1.2em;
    font-family: 'Source Sans Pro', sans-serif;
}

.single figure {
    padding: 1vw 0;
}

figure img {
    max-width: 92vw;
}

.project-info-writeup {
    padding: 0 5vw;
    color: #333;
}

.project-info-titles {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-family: 'Playfair Display';
}


/*      MEDIA QUERIES       */
@media screen and (max-width: 800px) {

    .about-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .profile-image {
        justify-self: center;
        width: 70%;
        padding-top: 70%;
    }

    .card-image {
        width: 100vw;
        float: left;
    }
}

@media screen and (max-width: 500px) {

    .profile-image {
        justify-self: center;
        width: 100%;
        padding-top: 100%;
    }
}